<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitesweep: Know page contents on click!">
    <title>Login</title>
    <!-- Link to external CSS for styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <div id="sidebar" class="d-inline-block position-fixed">
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="https://sainawj.github.io/sitesweep/">About Sitesweep</a></li>
            <li><a href="mailto:sitesweep24@gmail.com">Contact us</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="#" id="logoutButton">Logout</a></li>
            <li><a href="{{ url_for('main.history') }}">History</a></li>
            {% else %}
            <li><a href="{{ url_for('main.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        <h1>Login</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span>{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span>{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('main.register') }}">Sign up here</a></p>
</div>
<!-- Footer -->
    <footer id="contact" class="footer">
        <p>Contact us: Feel free to reach out via email: <a href="mailto:sitesweep24@gmail.com">Sitesweep</a></p>
    </footer>

</body>
</html>
