body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#sidebar {
    background-color: #003366;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 15px;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#sidebar ul li a:hover {
    background-color: #1A5276;
}

#content {
    margin-left: 220px;
    padding: 20px;
}

.navbar {
    margin-left: 220px;
}

.table {
    margin-top: 20px;
}

.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
